<section
        class="py-5 d-flex flex-column justify-content-center align-items-center text-center min-vh-100"
        id="About">
        <h2 class="display-4 fw-bold text-center mb-5 mt-4">About Me</h2>
        <div class="container">
            <!-- My Picture And Summary -->
            <div class="row justify-content-center align-items-stretch g-5">
                <div class="col-md-5 col-sm-10 h-100">
                    <div class="card shadow-sm hover-scale">
                        <img src="assets/MyPic.jpg" class="card-img-top img-fluid rounded" alt="My Picture">
                    </div>
                </div>
                <div class="col-md-5 col-sm-10">
                    <div class="card h-100  rounded-3 bg-info shadow-lg hover-scale border-1">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="card-text fs-5">
                                I am a passionate and resourceful software engineer with a solid understanding of
                                software development principles, looking to apply my abilities in a demanding position,
                                seize new opportunities, and contribute to great projects.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact Form With Accordion -->
            <app-contact-form></app-contact-form>
        </div>
    </section>