<section id="Skills" class="py-1 d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="container">
        <h2 class="display-4 fw-bold text-center my-4">My Skills</h2>
        <div class="row justify-content-center gx-4 gy-4">

            <!-- Programming Card -->
            <div class="col-md-6 col-lg-6 mb-2">
                <div class="card h-100 shadow-sm hover-scale bg-info">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Programming Languages</h5>
                        <div class="mb-2">
                            <label class="form-label">C#</label>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 90%;"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">C/C++</label>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 95%;"
                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Python</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                    aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">HTML</label>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 95%;"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">95%</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">CSS</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">JavaScript</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                    aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Frameworks Card -->
            <div class="col-md-6 col-lg-6 mb-2">
                <div class="card h-100 shadow-sm hover-scale bg-info">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Frameworks</h5>
                        <div class="mb-2">
                            <label class="form-label">Bootstrap</label>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 95%;"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">95%</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Tailwind CSS</label>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 90%;"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </div>
                        <div class="my-3">
                            <label class="form-label d-flex align-items-center">Angular (Currently Learning)
                                <div class="mx-2 spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </label>
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 60%;"
                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                            </div>
                        </div>
                        <div class="my-3">
                            <label class="form-label d-flex align-items-center">ASP.Net Core (MVC And APIs)</label>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 90%;"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </div>
                        <div class="my-3">
                            <label class="form-label d-flex align-items-center">WinForms</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="20"
                                    aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tools Card -->
            <div class="col-md-6 col-lg-6 mt-2">
                <div class="card h-100 shadow-sm hover-scale bg-info">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Tools</h5>
                        <div class="mb-2">
                            <label class="form-label">Git/Github</label>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 95%;"
                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">VS Code</label>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 95%;"
                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Visual Studio</label>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 95%;"
                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                            </div>
                        </div>
                        <div class="my-3">
                            <label class="form-label d-flex align-items-center">Docker (Currently Learning)<div
                                    class="mx-2 spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div> </label>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 30%;"
                                    aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Databases Card -->
            <div class="col-md-6 col-lg-6 mt-2">
                <div class="card h-100 shadow-sm hover-scale bg-info">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Databases</h5>
                        <div class="mb-2">
                            <label class="form-label">SQL Server (T-SQL)</label>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 95%;"
                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                            </div>
                        </div>
                        <div class="mb-1">
                            <label class="form-label">MySQL</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>